<BehaviorReport
  @behaviors={{windowBehaviors}}
  @behaviorsOff={{windowBehaviorsOff}}
/>

<div class='board-note-container'>

  <button class='board-add-note' onclick={{action 'addNote'}}>+</button>

  {{#each model.notes as |m|}}

    <Note
      @model={{m}}
      @windowBehaviors={{mut windowBehaviors}}
      @windowBehaviorsOff={{mut windowBehaviorsOff}}
    />

  {{/each}}

</div>
