<div class='demo-controls'>

  <h3>Included behaviors</h3>

  <Input
    @type='checkbox'
    @checked={{includeWindowResize}}
    @onClick={{mut includeWindowResize (if includeWindowResize false true)}}
  /> window-resize

  <Input
    @type='checkbox'
    @checked={{includeWindowMove}}
    @onClick={{mut includeWindowMove (if includeWindowMove false true)}}
  /> window-move

  <h3>Resulting code</h3>

  <p class='snippet'>
    <pre>{{code}}</pre>
  </p>

</div>

{{#if (eq flags 0)}}
  <RenderTemplate @boardView={{boardView}} @templateString={{code}}/>
{{/if}}

{{#if (eq flags 1)}}
  <RenderTemplate @boardView={{boardView}} @templateString={{code}}/>
{{/if}}

{{#if (eq flags 2)}}
  <RenderTemplate @boardView={{boardView}} @templateString={{code}}/>
{{/if}}

{{#if (eq flags 3)}}
  <RenderTemplate @boardView={{boardView}} @templateString={{code}}/>
{{/if}}
