<Window
  @rectangle={{model.rectangle}}
  @behaviors={{array (window-resize) (window-move)}}
  as |w|
>
  <div class='note-title' onMousedown={{action 'dragStart' w}}>
    {{model.note.title}}
  </div>
  <div class='note-content'>
    {{model.note.content}}
  </div>
</Window>
