<Window
  @rectangle={{model.rectangle}}
  @behaviors={{windowBehaviors}}
  as |w|
>
  <div
    style = 'touch-action: none;'
    class = 'note-title'
    onTouchstart = {{action 'dragStart' w}}
    onMousedown = {{action 'dragStart' w}}
  >
    {{model.note.title}}
  </div>
  <div class='note-content'>
    {{model.note.content}}
  </div>
</Window>
