<Window
  @rectangle={{model.rectangle}}
  @behaviors={{windowBehaviors}}
  as |w|
>
  <div
    style = 'touch-action: none;'
    class = 'note-title'
    onTouchstart = {{action 'dragStart' w}}
    onMousedown = {{action 'dragStart' w}}
  >
    <div onMouseDown={{action 'stopPropagation'}}>
      {{#if edit}}
        <Input @type='text' @value={{mut newTitle}} />
      {{else}}
        {{model.note.title}}
      {{/if}}
    </div>
  </div>
  <div class='note-content'>
    {{#if edit}}
      <Textarea @value={{mut newContent}}/>
    {{else}}
      <pre>{{model.note.content}}</pre>
    {{/if}}
  </div>
  <div class='note-edit-buttons'>
    {{#if edit}}
      <button {{action 'onSave'}}>✓</button> 
      <button {{action 'onCancel'}}>✕</button> 
    {{else}}
      <button onclick={{action 'onEdit'}}>✎</button> 
    {{/if}}
  </div>

</Window>
