<div class='demo-config'>

  <h3 class='config-title'>Included behaviors</h3>

  <Input
    @type='checkbox'
    @checked={{includeWindowResize}}
    @onClick={{mut includeWindowResize (if includeWindowResize false true)}}
  /> window-resize

  <Input
    @type='checkbox'
    @checked={{includeWindowMove}}
    @onClick={{mut includeWindowMove (if includeWindowMove false true)}}
  /> window-move

  {{yield this 'resulting-code'}}

</div>

{{yield this 'board'}}

